<h1>Editing solution</h1>

<% form_for(@solution) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :issue %><br />
    <%= f.text_field :issue %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @solution %> |
<%= link_to 'Back', solutions_path %>
