<p>
  <b>Issue:</b>
  <%=h @solution.issue %>
</p>

<p>
  <b>User:</b>
  <%=h @solution.user %>
</p>

<p>
  <b>Type:</b>
  <%=h @solution.type %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
